<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, nesciunt!</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="/ideas/add" role="button">Add Video Ideas</a>
    </p>
</div>