<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">
                Register Account
            </h3>
            <form action="/users/register" method="POST">
                <div class="form-group">
                    <label for="">Full Name</label>
                    <input type="text" name="name" value="{{name}}" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" name="email" value="{{email}}" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password....">
                </div>
                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" placeholder="Password....">
                </div>

                <input type="submit" value="Register" class="btn btn-success btn-block">
            </form>
        </div>
    </div>
</div>